.jumbotron {
    background-color:#0AA1DD ;
    color: white;
    padding: 50px 100px;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    /* gap: 0 15%; */
    align-items: center;
}  
.jumbotron .right h1 {
    display: inline;
    border-bottom:solid  white 2px ;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.jumbotron .right {
    padding: 0 110px;
}
.jumbotron .right p {
    margin-top: 10px;
    font-size: 18px;
}
.btn-setnow{
    color: blue;
    font-weight: 700;
    margin-top: 15px;
    padding: 6px 20px;
}
.right h1{
    font-size: 38px;
}

.jumbotron .left img{
    padding-left: 50px;
    width: 300px;
}