* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*
  AppBar
*/

.app-bar {
    padding: 8px 16px;
    background-color: white;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    position: sticky;
    top: 0;
    z-index: 99;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.app-bar .app-bar__menu {
    display: flex;
    align-items: center;
}

.app-bar .app-bar__menu button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 12px 16px;
    cursor: pointer;
}

.app-bar .app-bar__brand {
    display: flex;
    align-items: center;
}

.app-bar .app-bar__brand img {
    margin-left: 8px;
    width: 125px;
}

.app-bar .app-bar__navigation {
    position: absolute;
    top: 50px;
    left: -180px;
    width: 150px;
    transition: all 0.3s;
    padding: 8px;
    background-color: white;
    overflow: hidden;
}

.app-bar .app-bar__navigation.open {
    left: 0;
    margin-top: 12px;
}

.app-bar .app-bar__navigation ul li a {
    font-size: 1.05em;
    display: flex;
    text-decoration: none;
    color: #365470;
    padding: 12px 0;
    margin-bottom: 3px;
    width: 100%;
}

.app-bar .app-bar__navigation ul li a:hover {
    text-decoration: underline;
}

/*
  HeroElement
*/

.hero {
    background-color:#229ab8 ;
    background-image: linear-gradient(270deg,
    #229ab8 0%, #16c577 80%);
    color: white;
    padding: 50px 100px;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    /* gap: 0 15%; */
    align-items: center;
}

.hero__inner-left img {
    width: 350px;
}

.hero__inner-right h1 {
    display: inline;
    border-bottom: solid  white 2px ;
    font-style: italic;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.hero__inner-right p {
    margin-top: 10px;
    font-size: 16px;
}

.btn-setnow {
    border-radius: 16px;
    color: #365470;
    font-weight: 800;
    margin-top: 10px;
    padding: 6px 20px;
}

/*
  Main Content
*/

main {
    padding: 32px;
    flex: 1;
}

.content {
    margin: 0 auto;
    min-height: 100%;
    color: #365470;
}

.content .content__heading {
    text-align: center;
    margin-top: 1em;
    font-weight: normal;
    padding: 12px 0;
    border-bottom: dotted #229ab8 2px;
}

/*
  Articles
*/

.articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    margin: 32px 0;
}

/*
  Article Item
*/

.article-item {
    width: 100%;
    box-shadow: 0 8px 12px 2px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
}

.article-item:hover {
    box-shadow: 0 8px 16px 4px rgba(0, 0, 0, 0.4);
}

.article-item__header {
    position: relative;
}

.article-item .article-item__header .article-item__header__poster {
    width: 100%;
}

.article-item .article-item__content {
    padding: 16px;
}

.article-item .article-item__content h3 {
    margin: 0 0 10px 0;
}

.article-item .article-item__content h3 a {
    color: #365470;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.article-item .article-item__content h4 {
    margin: 0 0 10px 0;
    color: #b78b63;
    padding: 16px 0;
}

.article-item .article-item__content p {
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}